<!--一覧部分-->
<div class="data_area">
    
    <!--エラーが発生しているか-->
    <% if @book.errors.any? %>
    <div class="error_area">
        <!--エラー件数カウント-->
        <p class="error_title"><%= @book.errors.count %> error prohibited this book from being saved:</p>
        <ul class="error_message_area">
            <!--エラーメッセージ抽出-->
            <% @book.errors.full_messages.each do |message| %>
            <li class="error_message"><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    
    
    <h1 class="header">Books</h1>
    <table class="index_area">
        <thead>
            <tr>
                <th class="title_area">Title</th>
                <th class="body_area">Book</th>
                <th class="button_area"></th>
            </tr>
        </thead>
    </table>
    <% @books.each do |book| %>
    <!--ここから各個データはbookを使う-->
    <table class="index_area">
        <tbody>
            <tr>
                <td class="title_area"><%= book.title %></td>
                <td class="body_area"><%= book.body %></td>
                <td class="button_area">
                <%= link_to "Show", book_path(book.id), class: 'button' %>
                <%= link_to "Edit", edit_book_path(book.id), class: 'button' %>
                <%= link_to "Destroy", book_path(book.id), method: :delete,"data-confirm" => "Are you sure？", class: 'button' %></td>
            </tr>
        </tbody>
    </table>
    <% end %>
</div>
<!--以下投稿部分-->
<div class="data_area">
    <h4 class="header">New book</h4>
    <!--厳密に指定-->
    <%= form_with model: @book, url: '/books', method: :post do |f| %>
        <p class="header form">Title</p>
        <%= f.text_field :title, class: 'form'  %>
        
        <p class="header form">Body</p>
        <%= f.text_area :body, class: 'form' %>
        
        <div class="switch_area">
            <%= f.submit 'Create Book', class: 'switch' %>
        </div>
    <% end %>
</div>